@charset "utf-8";

@import url("normalize.css");
@import url("reset.css");
@import url("utility.css");

/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* DM Serif Display */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;400;700;900&display=swap');
/* Anek Devanagari FONT */
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@600;700;800&family=DM+Serif+Display:ital@0;1&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@100;400;700;900&display=swap');
/* fontawesome */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
/* xeicon */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* slick */
@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");

* {
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
  }
  body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    font-size: 1.6rem;
    font-weight: 400;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .close, .doc-bar {
    display: none;
  }
  h2{
    font-family: 'Anek Devanagari', sans-serif;
    font-weight: 600;
  }
  h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 2;
    color: #000;
  }
  p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    justify-content: center;
    text-align:center;
    line-height: 1.5;
  }
  /* PC 구현 */
    .inner {
    width: 100%;
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
  }
  #wrapper-bg{
    width: 100%;
    height: 100%;
    position: relative;
  }
  /* header---------------------------------- */
    .header{
     width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
      
  }
  .header-wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    margin-right: 30px;
  }
  .navMenu{
    width: 40%;
    justify-content: flex-start;
    position: relative;

  }
  .navMenu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .navMenu li{
    margin-left: 20px;
  }
  .navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #fff;
  }
  
  .navMenu .dot {
    position: absolute;
    left: -10px;;
    top: 25px;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu li:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu li:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu li:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(212px);
    transform: translateX(212px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu li:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(275px);
    transform: translateX(275px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  .logo-wrap{
    width: 20%;
    display: flex;
    justify-content: center;
  }
  .logo-wrap h1{
    width: 60%;
  }
  .logo-wrap img{
    width: 100%;
  }
  .social-icon{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
  }
  .social-icon ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .social-icon ul li{
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
  }
  .social-icon li img{
    width: 20px;
    
  }
  .fixed-header {
    position: fixed;
    top: 0;
    width: 100%; 
}
/* .visible-title {
  visibility: visible;
} */
    /* visual---------------------------------- */
    .visual {
      width: 100%;
      height: 100vh;
      /* background-size: cover; */
      /* position: fixed; */
      overflow: hidden;
    }
    .visual img{
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
    }

  .video-content{
    height: 100vh;
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .visual h2{
    color: #FFFFFF;
    font-size: 40px;
    font-style: normal;
    /* line-height: 58px; */
    margin-bottom: 19px;
    text-align: left;
    z-index: 100;
    }
    .visual p{
      color: #fff;
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 200;
      letter-spacing: 2px;
    }
    .visual h2,
    .visual p {
      width: 100%;
      word-wrap: break-word;
    }
    /* mouse_scroll */
    #wrapper {
      display: table;
      width:100%;
      position: absolute;
      top: 80vh;
    }
    .illus-bg{
      width: 1300px;
      margin: 70px auto;
      overflow: hidden;
    }
    .illus-bg img{
      width: 100%;
    }
    #wrapper-inner {
      display: table-cell;
      vertical-align:middle;
      width:100%;
      height:100%;
    }
    
    #scroll-down {
        display: block;
      position: relative;
      padding-top: 79px;
      text-align:center;
    }
    .arrow-down {
        display: block;
        margin: 0 auto;
        width: 10px;
        height: 38px;
    }
    .arrow-down:after {
        content: '';
        display: block;
        margin: 0;
        padding: 0;
        width: 8px;
        height: 8px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        behavior: url(-ms-transform.htc);
        -moz-transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    #scroll-title {
        display: block;
        text-transform: uppercase;
        color: #fff;
        font-size:12px;
        font-weight:200;
        letter-spacing:.1em;
    }
    #scroll-down::before {
        -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        /* Safari 4+ */
        
        -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        /* Fx 5+ */
        
        -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        /* Opera 12+ */
        
        animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
        /* IE 10+, Fx 29+ */
        
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -1px;
        width: 1.5px;
        height: 50px;
        background: #fff;
        content: ' ';
    }
    @-webkit-keyframes elasticus {
        0% {
            -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            -moz-transform: scale(1, 0);
            -o-transform: scale(1, 0);
            transform: scale(1, 0);
        }
        50% {
            -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        50.1% {
            -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        100% {
            -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            -moz-transform: scale(1, 0);
            -o-transform: scale(1, 0);
            transform: scale(1, 0);
        }
    }
    @-moz-keyframes elasticus {
        0% {
            -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            -moz-transform: scale(1, 0);
            -o-transform: scale(1, 0);
            transform: scale(1, 0);
        }
        50% {
            -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        50.1% {
            -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        100% {
            -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            -moz-transform: scale(1, 0);
            -o-transform: scale(1, 0);
            transform: scale(1, 0);
        }
    }
    @-o-keyframes elasticus {
        0% {
            -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            -moz-transform: scale(1, 0);
            -o-transform: scale(1, 0);
            transform: scale(1, 0);
        }
        50% {
            -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        50.1% {
            -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        100% {
            -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            -moz-transform: scale(1, 0);
            -o-transform: scale(1, 0);
            transform: scale(1, 0);
        }
    }
    @keyframes elasticus {
        0% {
            -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            -moz-transform: scale(1, 0);
            -o-transform: scale(1, 0);
            transform: scale(1, 0);
        }
        50% {
            -webkit-transform-origin: 0% 0%;
            -ms-transform-origin: 0% 0%;
            -moz-transform-origin: 0% 0%;
            -o-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        50.1% {
            -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            -moz-transform: scale(1, 1);
            -o-transform: scale(1, 1);
            transform: scale(1, 1);
        }
        100% {
            -webkit-transform-origin: 0% 100%;
            -ms-transform-origin: 0% 100%;
            -moz-transform-origin: 0% 100%;
            -o-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
            -webkit-transform: scale(1, 0);
            -ms-transform: scale(1, 0);
            -moz-transform: scale(1, 0);
            -o-transform: scale(1, 0);
            transform: scale(1, 0);
        }
    }
/* section---------------------------- */
section{
width: 100%;
height: inherit;
color: #000;
background-color: #FFFFFF;
}
/* about me */
.section-intro{
    display: flex;
    height: 300px;
    align-items: center;
    text-align: center;
  
}
.about-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    align-items: left;
    
}
.skill{
    width: 50%;
    padding-right: 30px;
}

.lanluages{
    width: 50%;
    padding-left: 30px;
}
/* ------------------------------------------------------------------- 
 * ## skillbars - (_skillbars.scss)
 * ------------------------------------------------------------------- */

 .skill-bars {
    list-style: none;
    margin: 6rem 0 3rem;
}

.skill-bars li {
    height: .6rem;
    background: #c9c9c9;
    width: 90%;
    margin-bottom: 6.9rem;
    padding: 0;
    position: relative;
}

.skill-bars li strong {
    position: absolute;
    left: 0;
    top: -3rem;
    font-family: "montserrat-extrabold", sans-serif;
    color: #0D0A0B;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.skill-bars li .progress {
    background: #000000;
    background-image: linear-gradient(to right, #191A3F, #2d462c);
    position: relative;
    height: 100%;
}

.skill-bars li .progress span {
    position: absolute;
    right: 0;
    top: -3.6rem;
    display: block;
    font-family: "montserrat-regular", sans-serif;
    color: #FFFFFF;
    font-size: 1.1rem;
    line-height: 1;
    background: #000000;
    padding: .6rem .6rem;
    border-radius: 3px;
}

.skill-bars li .progress span::after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #000000;
    content: "";
}

.skill-bars li .percent10 {
    width: 10%;
}

.skill-bars li .percent20 {
    width: 20%;
}

.skill-bars li .percent30 {
    width: 30%;
}

.skill-bars li .percent40 {
    width: 40%;
}

.skill-bars li .percent50 {
    width: 50%;
}

.skill-bars li .percent60 {
    width: 60%;
}

.skill-bars li .percent70 {
    width: 70%;
}

.skill-bars li .percent80 {
    width: 80%;
}

.skill-bars li .percent90 {
    width: 90%;
}

.skill-bars li .percent100 {
    width: 100%;
}
.download{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

/* footer */
.footer{
    display: block;
    border-top: 1px solid #777;
    font-size: 12px;
    flex-direction: column;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    /* text-transform: none; */
    width: 100%;
    padding: 60px;
    position: absolute;
    /* top: 0;
    left: 0; */
}

.footer-icon ul li {
  display: inline-block;
  margin-right: 20px;
}
.footer-icon ul li img{
  width: 20px;
  opacity: 50%;
}
.footer-icon ul li:last-child {
  margin-right:0;
}
.footer-text{
  color: #777;
  /* opacity: 50%; */
}